



.button {
            -fx-background-color:
              linear-gradient(#000000 0%, #232723 25%, #373837 75%, #191d23 100%),
              linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #191d23 100%),
             linear-gradient(#000000 0%, #606060 0%, #505250 3%,#191d23 100%);
            -fx-background-insets: 0,1,4,5,6;
            -fx-background-radius: 9,8,5,4,3;
            -fx-padding: 15 30 15 30;
            -fx-spacing: 150;
            -fx-font-family: "Helvetica";
            -fx-font-size: 19px;
            -fx-font-weight: bold;
            -fx-text-fill: white;
            -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
        }




#vboxLinks{  -fx-background-color: #020d1e;
                                     -fx-padding: 100;
                                     -fx-spacing: 10;
                                       -fx-stroke: green;
                                        -fx-stroke-width: 2;
                                        -fx-stroke-dash-array: 12 2 4 2;
                                       -fx-stroke-dash-offset: 1;
                                         -fx-stroke-line-cap: butt;


}


.levelbox{ -fx-background-color:Transparent;
       -fx-spacing: 150;
            -fx-font-family: "Helvetica";
            -fx-font-size: 19px;
            -fx-font-weight: bold;
            -fx-text-fill: #e6e8ed;
            -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
                      }


.hover {
-fx-background-color:#ffab32;

}

.textColor{
-fx-text-fill: #e6e8ed;
}
.backgorungMenuLevel{
 -fx-background-color: #020d1e;
}


.scroll-pane > .viewport  { -fx-background-color: #ffab32;
                            -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);}


.tree-view .scroll-bar:vertical{ -fx-background-color: transparent;
                                                                }

 .tree-view:focused {
        -fx-background-color: #FF7400;
        -fx-focus-color : #FFCDA3;
        -fx-control-inner-background:#FFCDA3;
        -fx-background-insets: -1.4, 0, 1;
        -fx-background-radius: 1.4, 0, 0;

        }


  .tree-view > .viewport{
        -fx-background-color: YELLOW;

  }


.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color:#cca270;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}
