 #menuLeftButtons  {

    -fx-padding: 15 30 15 30;
    -fx-spacing: 150;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-insets: 0,1,4,5,6;
     -fx-background-radius: 9,8,5,4,3;
        }

.button , .toggle-button{

  -fx-background-color:
       linear-gradient(#000000 0%, #232723 25%, #373837 75%, #262d38 100%),
       linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #00102b 100%), //in der mitte
      linear-gradient(#000000 0%, #606060 0%, #505250 3%,#010711 100%);
      -fx-text-fill: #f7d7aa;
       -fx-font-family: "Helvetica";
        -fx-font-size: 12px;
       -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}


 .button:hover ,.toggle-button:hover {
        -fx-background-color:#ffab32;
        -fx-scale-x: 1.1;
        -fx-cursor: hand;
        -fx-text-fill: #020d1e;

}

 .button:pressed , .toggle-button:pressed ,.toggle-button:selected {
        -fx-background-color: #ffab32;
        -fx-text-fill: #020d1e;
        -fx-scale-x: 0.9;
}


#vboxLinks{ -fx-background-color: #020d1e;
                  -fx-spacing: 10;

}

.backgroundcolorOrange{ -fx-background-color:#f7c679;
}

.clickedbutton{
   -fx-background-color:#ffab32;
        -fx-scale-x: 1.1;
        -fx-cursor: hand;
        -fx-text-fill: #020d1e;
}

.backgroundcolorBlue{
-fx-background-color: #020d1e;

}

.levelbox{ -fx-background-color:Transparent;
            -fx-spacing: 10;
            -fx-font-family: "Helvetica";
            -fx-font-size: 19px;
            -fx-font-weight: bold;
            -fx-text-fill:#f7d7aa;
            -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1); }

.vboxlevel {
    -fx-padding: 5 10 5 10;
}

.infoOnLevelItem{-fx-text-fill:white;}

.infoOnLevelItemBig {
 -fx-font-size: 17px;
    -fx-text-fill: #f7d7aa;
}
.infoOnLevelItemSmall {
 -fx-font-size: 12px;
    -fx-text-fill: #ddc39d;
    -fx-font-weight: lighter;
}

.scroll-pane > .viewport  { -fx-background-color: #ffab32;
                            -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);}

.scroll-pane .scroll-bar:vertical {
    -fx-unit-increment: 10 ;
    -fx-block-increment: 50 ;
}


.tree-view .scroll-bar:vertical{
                                -fx-background-color: #ffab32;
                                                                }


.tree-view .tree-cell{-fx-background-color: #ffab32; }
.text-field{  -fx-background-color:#2e353f; -fx-text-fill:white;

}

.text-field:focused {
-fx-background-color: #ffab32;
        -fx-focus-color :#020d1e;
        -fx-control-inner-background:#ffab32;
         -fx-text-fill:  #020d1e;
        -fx-background-insets: -1.4, 0, 1;
        -fx-background-radius: 1.4, 0, 0;


}

.text-field.error {
 -fx-border-color: red ;
 -fx-border-width: 2px ;
}

.table-view{
   -fx-background-color: #ffab32;
             -fx-focus-color :#ffab32;
             -fx-control-inner-background:#020d1e;
              -fx-text-fill:  #ffab32;
             -fx-background-insets: -1.4, 0, 1;
             -fx-background-radius: 1.4, 0, 0;

}

.table-view:focused{
   -fx-background-color: #ffab32;
           -fx-focus-color :#020d1e;
           -fx-control-inner-background:#ffab32;
            -fx-text-fill:  #020d1e;
           -fx-background-insets: -1.4, 0, 1;
           -fx-background-radius: 1.4, 0, 0;

  }


.combo-box .list-cell
{

   -fx-background-color: #020d1e;
    -fx-text-fill:#ffab32 ;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box .list-cell:selected
{

   -fx-background-color: #ffab32;;
    -fx-text-fill:#020d1e;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.dialog-pane{
  -fx-border-color:black;
  -fx-border-width:5.0px;
  -fx-background-color: black;
 }


.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-background-color: black;
   -fx-text-fill: white;
   -fx-font-size:20.0px;
   -fx-font-weight: bold;
}

.dialog-pane:header .header-panel {
  -fx-background-color: black;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: black;
  -fx-background-radius:10px;
  -fx-text-fill:white;
  -fx-font-size:20.0px;
  -fx-font-weight: bold;
}


.dialog-pane .button{
   -fx-background-color:black;
   -fx-text-fill:white;
   -fx-wrap-text: true;
   -fx-effect: dropshadow( three-pass-box, orange, 10.0, 0.0, 0.0, 0.0);
   -fx-cursor:hand;
 }

.dialog-pane .button:hover{
  -fx-background-color:orange;
  -fx-text-fill:black;
  -fx-font-weight:bold;
  -fx-font-weight: bold
 }
